@model WebApplication1.Models.project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Details</h2>
    <div style="float:right;">
        <div class="glyphicon glyphicon-pencil edit gi-2x" data-type="Project" data-id=@Model.project_id></div>
        <div class="glyphicon glyphicon-trash gi-2x" data-toggle="modal" data-target="#confirmDelete"></div>
    </div>
</div>
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Here you can see the details of a project</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4> Project information</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.project_name, "Project name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.project_name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.employee.last_name, "Project manager", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.employee.last_name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.client.client_name, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.client.client_name, new { @class = "form-control", @readonly = "readonly" })
        </div> 
    </div>
    <hr />
    <h4>List of tasks</h4>
    <hr />
    <table class="table table-striped table-hover" data-type="Task">
        <tr class="success">
            <th>
                Task
            </th>
            <th>
                Assigned to
            </th>
            <th>
                Importance
            </th>
            <th>
                Status
            </th>
            <th>
                Deadline
            </th>
        </tr>
        @foreach (var item in Model.tasks)
        {
            <tr class="active" data-id=@item.task_id>
                <td>
                    @Html.DisplayFor(modelItem => item.task_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.employee.last_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.importance.caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status.caption)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endDate, "{0:d MMM yyyy}")
                </td>
            </tr>
        }

    </table>

</div>

<div id="confirmDelete" class="modal fade bs-example-modal-sm">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body">
                <h3>Are you sure you want to delete the current project?</h3>
                @using (Html.BeginForm("DeleteConfirmed", "Project", FormMethod.Post, new { @class = "form-horizontal hidden", id = "deleteConfirmed_project", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group hidden">
                        @Html.TextBoxFor(model => model.project_id, new { @class = "form-control hidden", @readonly = "readonly" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                <a class="btn btn-success btn-sm" href="javascript:document.getElementById('deleteConfirmed_project').submit()">Delete</a>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
