@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ERPAS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @*<li>@Html.ActionLink("Accounts", "About", "Home")</li>*@                 
                </ul>
                <!--Html.Partial("_LoginPartial") mai trebuie arond in fata-->
                <ul class="navbar-text navbar-right">
                    <li class="dropdown-toggle" id="usernameButton" data-toggle="dropdown">
                        <span>@User.Identity.GetUserName()</span>
                        <span class="glyphicon glyphicon-user" style="color:#2c3e50;font-size: 10px;position: relative;right: -10px;top: -1px;"></span>
                    </li>
                   @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-left hidden" })){@Html.AntiForgeryToken()}
                   <ul class="dropdown-menu" role="menu" id="dropdown">
                        <li>@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                    </ul>
                   
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -ERPAS Anic Software</p>
        </footer>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
