@model WebApplication1.Models.AspNetUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h2>Details</h2>
    <div style="float:right;">
        <div class="glyphicon glyphicon-trash gi-2x" data-toggle="modal" data-target="#confirmDelete"></div>
    </div>
</div>
@Html.AntiForgeryToken()
<div class="form-horizontal">
    <h4>Here you cand see the details of an account</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h4> Account information</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.UserName, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <hr />
    <h4>Employee information</h4>
    <hr />

    <div class="form-group">
        @Html.LabelFor(model => model.employee.first_name,"First name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.employee.first_name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.employee.last_name,"Last name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.employee.last_name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.employee.hire_date,"Hire date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.employee.hire_date, "{0:d MMM yyyy}", new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.employee.job_id, "Job", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.employee.job.job_title, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.employee.department_id, "Department", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.employee.department.department_name, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<div id="confirmDelete" class="modal fade bs-example-modal-sm">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body">
                <h3>Are you sure you want to delete the current account?</h3>
                @using (Html.BeginForm("DeleteConfirmed", "Account", FormMethod.Post, new { @class = "form-horizontal hidden", id = "deleteConfirmed_user", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group hidden">
                        @Html.TextBoxFor(model => model.Id, new { @class = "form-control hidden", @readonly = "readonly" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                <a class="btn btn-success btn-sm" href="javascript:document.getElementById('deleteConfirmed_user').submit()">Delete</a>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
