@model IEnumerable<WebApplication1.Models.department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Department name
        </th>
        <th>
            Manager's first name
        </th>
        <th>
            Manager's last name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.department_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.first_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee.last_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.department_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.department_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.department_id })
        </td>
    </tr>
}

</table>
